@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$nav-color: #FFF2E7;
$info-color: #ECD6C4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    font-family: 'Sarala', sans-serif;
}

/* Header */
.nav-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 0.4px solid $nav-color;
}

.menu {
    list-style: none;
    display: flex;

    li {
        margin-right: 32px;
    }

    a {
        padding: 5px;
        border-radius: 10px;
        color: $nav-color;
        font-size: 18px;
        
        &:hover {
            background-color: rgba($color: #2F2325, $alpha: 0.80);
        }
    }
}

/* Principal Content */
.container-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .section-left {
        display: flex;
        flex-direction: column;
        gap: 32px;

        h2 {
            font-size: 64px;
            line-height: 79.47px;
            color: $nav-color;
            font-family: 'Righteous', cursive;
        }
    
        p {
            font-size: 24px;
            line-height: 39.13px;
            color: $info-color;
        }
    
        button {
            width: 10.3125rem;
            height: 4.1875rem;
            background-color: $info-color;
            border-radius: 20px;
            border: none;
            color: #2F2325;
            font-size: 24px;
            box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;

            &:hover {
                background-color: rgba($color: $nav-color, $alpha: 0.53);
            }
        }
    }
}

@mixin border-line {
    border-top: 0.4px solid $nav-color;
}

/* Description Content */
.container-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

    h3 {
        @include border-line();
        padding-top: 60px;
        font-size: 24px;
        color: $nav-color;
    }

    p {
        font-size: 18px;
        color: $info-color;
    }
}

/* Footer */
.footer-container {
    width: 100%;
    height: 40%;
    padding: 20px 0px;
    margin-top: 80px;
    @include border-line();

    img {
        padding: 20px 0px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 880px) {
    .container-principal {
        display: block;
    }

    .container-desc {
        display: block;
        text-align: center;
    }
}

@media (max-width: 610px) {
    .menu {
        flex-wrap: wrap;
        justify-content: end;
    }

    .container-principal {
        text-align: center;
        
        button {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 480px) {
    .container-principal {
        img {
            display: none;
        }
    }
}